<div class="card">
  <div class="card-header"
       *ngIf="departement">
    {{pageTitle + ": " + departement.id}}
  </div>

  <div class="card-body"
       *ngIf="departement">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">اسم المستودع  </div>
          <div class="col-md-6">{{departement.nameDept}}</div>
        </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <button class="btn btn-outline-secondary mr-3"
                style="width:80px"
                (click)="onBack()">
          <i class="fa fa-chevron-left"></i> Back
        </button>
        <button class="btn btn-outline-primary"
                style="width:80px"
                [routerLink]="['/base/تحديث  المبني',departement.id, 'edit']">
          Edit
        </button>
      </div>
    </div>

  </div>

  <div class="alert alert-danger"
       *ngIf="errorMessage">{{errorMessage}}
  </div>
</div>