<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <form novalidate
          (ngSubmit)="saveDepot()"
          [formGroup]="depotForm">

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="nameDepotId"> اسم المستودع</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="nameDepotId"
                 type="text"
                 placeholder=" اسم المستودع"
                 formControlName="nameDepot"
                 [ngClass]="{'is-invalid': displayMessage.nameDepot }" />
          <span class="invalid-feedback">
            {{displayMessage.nameDepot}}
          </span>
        </div>
      </div>

       

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  style="width:80px;"
                  type="submit"
                  [title]="depotForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!depotForm.valid">
            Save
          </button>
          <button class="btn btn-outline-secondary mr-3"
                  style="width:80px;"
                  type="button"
                  title="Cancel your edits"
                  [routerLink]="['/base/قائمة المستودعات']">
            Cancel
          </button>
          <button class="btn btn-outline-warning"
                  style="width:80px"
                  type="button"
                  title="Delete this agent"
                  (click)="deleteDepot()">
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="alert alert-danger"
       *ngIf="errorMessage">{{errorMessage}}
  </div>
</div>
