<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <form novalidate
          (ngSubmit)="saveAccident()"
          [formGroup]="trainForm">

      

      

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="numTransportId"> رقم القطار </label>

        <div class="col-md-8">
          <input class="form-control"
                 id="numTransportId"
                 type="text"
                 placeholder=" رقم القطار "
                 formControlName="numTransport"
                 [ngClass]="{'is-invalid': displayMessage.numTransport}" />
          <span class="invalid-feedback">
            {{displayMessage.numTransport}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="immatriculationId"> رقم التسجيل  </label>

        <div class="col-md-8">
          <input class="form-control"
                 id="immatriculationId"
                 type="text"
                 placeholder=" رقم التسجيل"
                 formControlName="immatriculation"
                 [ngClass]="{'is-invalid': displayMessage.immatriculation}" />
          <span class="invalid-feedback">
            {{displayMessage.immatriculation}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="marqueId">نوع القطار</label>

        <div class="col-md-8">
          <input class="form-control"
                 id="marqueId"
                 type="text"
                 placeholder="نوع القطار"
                 formControlName="marque"
                 [ngClass]="{'is-invalid': displayMessage.marque}" />
          <span class="invalid-feedback">
            {{displayMessage.marque}}
          </span>
        </div>
      </div>

<div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="modelId">نموذج القطار</label>

        <div class="col-md-8">
          <input class="form-control"
                 id="modelId"
                 type="text"
                 placeholder="نموذج القطار"
                 formControlName="model"
                 [ngClass]="{'is-invalid': displayMessage.model}" />
          <span class="invalid-feedback">
            {{displayMessage.model}}
          </span>
        </div>
      </div>


<div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="gabaritId">عدد المقاعد</label>

        <div class="col-md-8">
          <input class="form-control"
                 id="gabaritId"
                 type="text"
                 placeholder="عدد المقاعد"
                 formControlName="gabarit"
                 [ngClass]="{'is-invalid': displayMessage.gabarit}" />
          <span class="invalid-feedback">
            {{displayMessage.gabarit}}
          </span>
        </div>
      </div>

       

       <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="districtId"> District</label>

        <div class="col-md-8">
          <select class="form-control"
                 id="districtId"
                 type="number"
                 formControlName="district"
                 [ngClass]="{'is-invalid': displayMessage.district}"> </select>
          <span class="invalid-feedback">
            {{displayMessage.district}}
          </span>
        </div>
      </div>

     

      
      
      
      
      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  style="width:80px;"
                  type="submit"
                  [title]="busForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!trainForm.valid">
            Save
          </button>
          <button class="btn btn-outline-secondary mr-3"
                  style="width:80px;"
                  type="button"
                  title="Cancel your edits"
                  [routerLink]="['/train']">
            Cancel
          </button>
          <button class="btn btn-outline-warning"
                  style="width:80px"
                  type="button"
                  title="Delete this bus"
                  (click)="deleteTrain()">
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="alert alert-danger"
       *ngIf="errorMessage">{{errorMessage}}
  </div>
</div>