<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text"
               [(ngModel)]="listFilter" />
      </div>
    </div>
    <div class="row"
         *ngIf="listFilter">
      <div class="col-md-6">
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0"
             *ngIf="victimes && victimes.length">
        <thead>
             <tr>
             <th>تفاصيل الضحايا</th>
             <th>الرقم الالي</th>
             <th>الضحية</th>
             <th>مستوى الاصابة</th>
             <th>الحالة</th>
             <th>صفة الضحية</th>
             <th>اللقب</th>
             <th>الاسم</th>
             <th>التحديث</th>
            </tr>
      </thead>
        <tbody>
          <tr *ngFor="let v of  filteredVictime">
            
            <td>
              <a [routerLink]="['/ائمة  عمال ', v.id]">
                {{ v.id }}
              </a>
            </td>
              <td>{{v.id}}</td>
              <td>{{v.corpBlesser}}</td>
              <td>{{v.niveauBlessure}}</td>
              <td>{{v.etatVictime}}</td>
              <td>{{v.typeVictime}}</td>
              <td>{{v.lastNameVictime}}</td>
              <td>{{v.nameVictime}}</td>
            <td>
              <button class="btn btn-outline-primary btn-sm"
                      [routerLink]="['/ائمة  عمال ', v.id, 'edit']">
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div *ngIf="errorMessage"
     class="alert alert-danger">
  Error: {{ errorMessage }}
</div>